:root {
    --color-fill: rgb(255,255,255,0);
    --color-dock-background: rgba(255, 255, 255, 0.8);
    --color-dock-border: #ebebeb;
    --color-navbar-border: #ebebeb;
    --repo-background: #f5f5f5;
    --textfield-border: #d4d4d4;
    --textfield-text: #d4d4d4;
    --textfield-background: #f5f5f5;
    --button-border: #4d4d4a;
    --button-background: #212121;
    --button-background-disabled: #4d4d4d;
    --navbar-height: 60px;
}